#about-component {
  display: flex;
  position: relative;
  height: 80vh;
  margin-top: 10vh;
  /* width: 75vw; */
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  overflow: hidden;
}

.about-me-header {
  font-family: 'Julius Sans One', sans-serif;
}

.about-text {
  position:absolute;
  top: 0;
  left: 0;
  font-size: 25rem;
  color:rgba(167, 188, 214, .02);
  white-space: nowrap;
  z-index: 0!important;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#about-component > * {
  z-index: 1;
}

.about-me-section {
  font-weight: 100;
  letter-spacing: 0.05em;
}

.subtext {
  font-size: .75rem;
  color: gray;
}

.about-me-page-intro {
  height: 160px;
  padding: 0 10vw;
  font-size: .95rem;
  text-align: left;
}

#about-component::before {
  position: absolute;
  left: 7vw;
  top: 15vh;
  transform: translateX(-20px);
  content: "";
  height: inherit;
  width: 3px;
  background: linear-gradient(rgb(35, 83, 145) 25%, rgb(82, 118, 165) 25%, rgb(82, 118, 165) 50%, rgb(167, 188, 214) 50%, rgb(167, 188, 214) 75%, rgb(248, 248, 255) 75%, rgb(248, 248, 255) 100%);
}

/* About Component Flavor Styles */

#about-component .section-tag-flavor-open {
  position: absolute;
  transform: translate(-238px, -200px);
} 

.page-split {
  display: flex;
  justify-content: space-between;
}

.page-split > * {
  flex-basis: 50%;
}

@media (max-width:1000px) {
  .page-split {
    flex-direction: column;
  }
  .about-me-animation-wrapper{
    margin-top: 5vh;
  }
}