#FullScreenSidebar {
  display: Flex;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #090b10;
  border-right: 2px solid white;
  // width: 25vw;
  min-width: 175px;
  transition: .5s;
}

#FullScreenSidebar a,
#FullScreenSidebar li,
#FullScreenSidebar .smaller,
#FullScreenSidebar button {
  /* cursor: url("../../Assets/white_dot.png"), auto!important; */
}

#FullScreenSidebar-head {
  position: fixed;
  top: 5vh;
}

#fullScreenSidebar-links {
  width: 80%;
}

#FullScreenSidebar ul {
  position: fixed;
  top: 30vh;
  // width: 13vw;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
  line-height: 5vh;
  padding: 0;
  text-align: left;
  border-top: 1px solid ghostwhite;
}

#FullScreenSidebar ul li {
  border-bottom: 1px solid ghostwhite;
  font-size: 18px;
  ;
}

#FullScreenSidebar ul li:hover {
  cursor: pointer;
  color: #B72E31;

  transition: .3s;
}

/* Fullscreen Sidebar Animations */

.active-menu-item {
  color: #B72E31
}

#fullScreenSidebar-links ul li:active {
  /* color: #235391 */
  color: #A7BCD6;
}

.sidebar-fade-out {
  transform: translateX(-20vw);
}
// testing
@media (max-width: 600px) {
  #FullScreenSidebar {
    display: none;
  }
}