#contact-component{
  display: flex;
  position: relative;
  height: 60vh;
  margin-top: 20vh;
  margin-bottom: 20vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.contact-form {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  transform: translate(-10px);
}

.form-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-top > * {
  margin: auto;
  width: 100%;
}

.form-top input {
  width: 100%;
}

.contact-text {
  position:absolute;
  top: 0;
  left: 0;
  font-size: 25rem;
  color:rgba(167, 188, 214, .02);
  white-space: nowrap;
  z-index: 0!important;
  transform: translateY(-10vh);
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.contact-form input,
.contact-form textarea {
  color: ghostwhite;
  background:rgb(51, 52, 53);
  height: 40px;
  margin: 20px 0 20px 0;
  border: 0;
  box-shadow: 0;
  font-size: 1rem;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}

.contact-form input {
  /* transition: .5s; */
}

.contact-form textarea { 
  resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
  box-sizing: 0;
  box-shadow: 0;
  outline: none;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(35, 83, 145) 25%, rgb(82, 118, 165) 25%, rgb(82, 118, 165) 50%, rgb(167, 188, 214) 50%, rgb(167, 188, 214) 75%, rgb(248, 248, 255) 75%, rgb(248, 248, 255) 100%);
  /* transition: .5s; */
  border-image-slice: 1;
  /* width: 100%; */
}

.contact-form input::placeholder {
  font-size: 1em;
  color: gray;
  background:rgb(51, 52, 53)
}

.form-bottom {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form-bottom * {
  width: 100%;
}

.form-submit-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  width: 100%;
}

.contact-submit {
  width: 30%;
}
