.navbar-component {
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #1d1d1d;
  transition: .5s;
  z-index: 500;
}

.navbar-component a, 
.navbar-component li, 
.navbar-component .smaller, 
.navbar-component button {
  cursor: url("../../Assets/white_dot.png"), auto!important;
 }



.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  background-color: #01020a;
  box-shadow: 0 0 10px 10px #01020a;
}

/* Initials */

.initials-icon {
  display: inline-block;
  position: relative;
  transition: .55s;
}

.initials-icon:hover {
  background: #A7BCD6;
}

.initials-subscript {
  font-family: 'Julius Sans One', sans-serif;
}

.initials-subscript span {
  font-weight: bold;
  font-size: 1.25rem;
}
.nav-comp-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* 
.initials-icon:after {
  position: absolute;
  content: "Julius Dorfman";
  font-size: 10px;
  left: 1px;
}  */

.icon-card-initials-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 60px;
  border: 1.5px solid rgba(100, 100, 100, 1);
  transition: .45s;
}

.icon-card-initials {
  position: absolute;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 40px;
  font-family: 'Julius Sans One', sans-serif;
  /* color: rgba(50, 50, 50, 1); */
  color: ghostwhite;
  transition: .55s;
}

.icon-card-initials-wrapper:hover {
  cursor: pointer;
  border: 1.5px solid ghostwhite;
}

.icon-card-initials-wrapper:hover > .icon-card-initials {
  color: black;
}

.icon-fill {
  background: gainsboro;
}

.initials-name {
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 0.095em;
}

.initials-name > .light-weight {
  font-weight: 100;
}

.initials-name > .bold-weight {
  font-weight: bold;
}

.initials-subscript {
  font-size: .75rem;
  font-weight: lighter;
  margin-top: 2vh;
}

/* Navigation Styles */

.navigation-links-wrapper {
  height: 50%;
  width: 100%;
  box-shadow: 0 0 5px 10px #1d1d1d;
  z-index: 100;
}

.navigation-links {
  /* border-top: 1px solid black; */
  padding: 0;
  /* margin-top: 5vh; */
  list-style: none;
}

.navigation-links > li {
  border-bottom: 1px solid black;
  cursor: pointer;
  padding: 10px;
  transition: .3s;
}

.navigation-links > li:hover {
  color:#235391;

  transition: .3s;
}

.nav-socials-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 2%;  
  box-shadow: 0 0 5px 10px #1d1d1d;
}

.nav-socials-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
}

.fade-in {
  opacity: 1;
  transition: .5s;
}
.fade-out{
  opacity: 0;
  transition: .5s;
}

/* Flavor Tags */
.html-tag-open,
.html-tag-close {
  position: absolute;
  display: inherit;
  transform: translate(18px, 20px);
}

.fa-linkedin-square {
  font-size:70px;
  color: gray;
  transition: .5s;
}

.fa-github-square {
  font-size:70px;
  color: gray;
  transition: .5s;
}


.fa-linkedin-square:hover, 
.fa-github-square:hover  {
  /* font-size: 100px; */
  transition: .5s;
  color: #A7BCD6;
  /* transform: translateY(10px); */
}

.floater-button-navbar {
  width: 50%;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .navbar-component {
    display: fixed;
    right: 0;
    top: 15vh;
    width: 250px;
    height: 50vh;
  }

  .navigation-links {
    font-size: 1rem;
  }

  .nav-socials-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-size: 1rem;
  }

  .fa-linkedin-square {
    font-size:30px;
    color: gray;
  }
  .fa-github-square {
    font-size:30px;
    color: gray;
  }

  .fa-linkedin-square:hover, 
  .fa-github-square:hover  {
    color: #A7BCD6;
  }
}