#work-component {
  display: flex;
  position: relative;
  height: 60vh;
  /* width: 75vw; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.work-text {
  position:absolute;
  top: 0;
  left: 0;
  font-size: 25rem;
  color:rgba(167, 188, 214, .02);
  white-space: nowrap;
  z-index: 0!important;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#work-component::before {
  position: absolute;
  left: 7vw;
  top: 15vh;
  transform: translateX(-20px);
  content: "";
  height: inherit;
  width: 3px;
  background: linear-gradient(rgb(35, 83, 145) 25%, rgb(82, 118, 165) 25%, rgb(82, 118, 165) 50%, rgb(167, 188, 214) 50%, rgb(167, 188, 214) 75%, rgb(248, 248, 255) 75%, rgb(248, 248, 255) 100%);
}