#work-component {
  display: flex;
  position: relative;
  height: 60vh;
  /* width: 75vw; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} 

#work-component > h1{
  position: absolute;
  margin-bottom: 400px;
}


#work-component::before {
  position: absolute;
  left: 7vw;
  top: 15vh;
  transform: translateX(-20px);
  content: "";
  height: inherit;
  width: 3px;
  background: linear-gradient(rgb(35, 83, 145) 25%, rgb(82, 118, 165) 25%, rgb(82, 118, 165) 50%, rgb(167, 188, 214) 50%, rgb(167, 188, 214) 75%, rgb(248, 248, 255) 75%, rgb(248, 248, 255) 100%);
}

.work-component-content {
  width: 50vw;
}

.work-text {
  position:absolute;
  top: 0;
  left: 0;
  font-size: 25rem;
  color:rgba(167, 188, 214, .02);
  white-space: nowrap;
  z-index: 0!important;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.work-panels-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .7em;
}

.work-panels-wrapper > *{
  flex: 1;
  transition: .5s;
}
.work-panels-wrapper > *:hover{
  flex: 2;
  transition: .5s;
  height: 200px;
}

.work-panel {
  display: flex;
  height: 100px;
  transition: .5s;
  align-items: flex-end;
  justify-content: center;
}

#art-of-twitch {
  background: url('../../Assets/SoTA.PNG');
  background-position-x: 50%;
  background-size: 100%;
  transition: .5s;
  border: 1px solid gray
}

#art-of-twitch:hover {
  /* background-size: cover; */
  transition: .5s;
}

@media (max-width: 1000px) {
  #art-of-twitch {
    background: url('../../Assets/SoTA.PNG');
    background-size: cover;
    background-position-x: 58%;
  }
  #art-of-twitch {
    background-size: 100%;
  }
}