
#artoftwitchchat-component
    width: 80%
    transition: .5s
    > p 
        font-size: .6em
        text-align: left
        letter-spacing: .3em
        text-style: bold
        font-weight: 100
    > h3
        margin: 0
        font-size: .8em
    > a
        display: inline-block
        text-decoration: none
        color: ghostwhite
        transition: .3s
        &:hover
            color:#235391
            transition: .3s
        
        
.artoftwitchchat-link        
    border: 1px solid ghostwhite
    width: 175px
    padding: 2%
    margin: 25% auto 
    color: black
    background-color: #A7BCD6
    transition: .3s
    &:hover
        background-color: transparent
        color: ghostwhite
        transition: .3s