
#artoftwitchchat-component
    width: 80%
    transition: .5s
    p 
        font-size: .6em
        text-align: left
        letter-spacing: .3em
        text-style: bold
        font-weight: 100
    > h3
        margin: 0
        font-size: .8em
    > a
        display: inline-block
        text-decoration: none
        color: ghostwhite
        transition: .3s
        &:hover
            color:#235391
            transition: .3s

.AOTT-title 
    font-family: "Julius Sans One", sans-serif
    > a
        color: white
        text-decoration: none

.mission-technology
    display: flex
    flex-direction: row
    
.mission-technology > div
    width: 50%
    margin: 5%
    font-size: .8em

.tech-list-wrapper
    display: flex
    flex-direction: row
    
.tech-list-wrapper ul
    list-style: none
    margin: 0 auto
    padding: 0
    font-size: .8em
    text-align: left
    font-size: .7em
    font-weight: 100
    letter-spacing: .2em
    border-top: 2px solid white

.tech-list-wrapper ul li:first-child
    margin-top: .5em

.artoftwitchchat-link        
    border: 1px solid ghostwhite
    width: 175px
    padding: 2%
    margin: 5% auto 
    color: black
    background-color: #A7BCD6
    transition: .3s
    &:hover
        background-color: transparent
        color: ghostwhite
        transition: .3s


.AOTT-text 
    position: absolute
    text-align: left
    top: 0
    left: 0
    font-size: 25rem
    color: rgba(167, 188, 214, .02)
    white-space: nowrap
    z-index: -1
    -webkit-user-select: none
    /* Safari */
    -moz-user-select: none
    /* Firefox */
    -ms-user-select: none
    /* IE10+/Edge */
    user-select: none
    /* Standard */

.aott-visuals
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 20px
    width: 100%
    margin: 20px auto


.img-wrapper-large
    overflow: hidden
    > img
        height: 100%
        transform: translateX(-10%)


.img-wrapper-gallery
    display: grid
    grid-template-columns: repeat(4, minmax(120px, 1fr))
    grid-template-rows: repeat(2, 200px)
    gap: .4em
    grid-auto-flow: dense
    
.indv-img-wrapper
    position: relative
    width: 100%
    margin: auto
    text-align: left
    height: 100%
    width: 100%
    > img
        height: 100%
        width: 100%
        object-fit: contain

.img-wrapper-gallery .img-wrapper-large
    grid-column: span 2
    grid-row: span 2

.tech-list-wrapper .tech-icon
    height: 1em

@media (max-width: 1000px) 
    .mission-technology
        display: flex
        flex-direction: column
        > div
            width: initial
        h3
            margin: 0 auto
        .technology h3
            margin-bottom: 5%
    .img-wrapper-gallery
        grid-template-columns: repeat(3, minmax(120px, 1fr))
        grid-template-rows: repeat(3, 200px)
        > .img-wrapper-large
            grid-column: span 3

    .img-wrapper-large > img
        transform: translateX(-25%)