#skills-component {
  display: flex;
  position: relative;
  height: 80vh;
  margin-top: 10vh;
  /* width: 75vw; */
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* margin-top: 25vh; */
  overflow: hidden;
}

#skills-component h1{
  margin-top: 17vh;
  transform: translateX(-145px);
}

#skills-component::after {
  position: absolute;
  top: 10vh;
  right: 5vw;
  content: "";
  height: inherit;
  width: 3px;
  background: linear-gradient(rgb(35, 83, 145) 25%, rgb(82, 118, 165) 25%, rgb(82, 118, 165) 50%, rgb(167, 188, 214) 50%, rgb(167, 188, 214) 75%, rgb(248, 248, 255) 75%, rgb(248, 248, 255) 100%);
}

.skills-text {
  position:absolute;
  top: 0;
  left: 0;
  font-size: 25rem;
  color:rgba(167, 188, 214, .02);
  white-space: nowrap;
  z-index: 0!important;
  transform: translateY(-10vh);
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.skills-content-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
  width: 75%;
  overflow: hidden;
  text-align: left;
  font-size: .70em;
}

.skills-list-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.skills-list-wrapper ul {
  list-style: none;
  padding: 0;
} 

.skills-list-wrapper li {
  font-size: .5em;
  margin-bottom: .75vh;
} 

.skills-list-wrapper li:nth-child(1) {
  font-size: .9em;
} 

.cloud-wrapper-bubble {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}

.cloud-wrapper-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cloud-wrapper-bubble:hover .list-skills {
  padding: 10px;
  font-size: .75em;
  background: rgba(0, 0, 0, .9);
}

.cloud-wrapper-bubble:hover .list-skills-head-hide {
  font-size: 2.5rem;
  background: #23539199;
}

.skills-cloud .skills-bubble {
  display: none;
  opacity: 0;
  z-index: 5;
}
.skills-cloud .skills-bubble:nth-child(1) {
  position: absolute;
  display: block;
  opacity: 1;
}

.tagcloud--item {
  transition: .5s;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.tagcloud--item:hover {
  display: flex;
  flex-direction: column;
  transition: .5s;
}

.list-skills-head-hide {
  position: absolute;
  z-index: 5;
  transition: .5s;
  background-color: rgba(20, 20, 20, 0.95);
  border: 2px solid gray;
  padding: 5px;
  border-radius: 3px;
  color: ghostwhite;
  font-size: 1.2em;
}

.list-skills-head-show {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  transition: .5s;
  background-color: rgba(20, 20, 20, 0.95);
  border: 2px solid gray;
  padding: 5px;
  border-radius: 3px;
  color: ghostwhite;
  opacity: 0;
  font-size: 1px;
}

.formation-bubble {
  opacity: 1;
}

.formation-list {
  opacity: 0;
  width: 0;
  /* transform: translateX(-400px); */
}

.list-skills-items {
  list-style: none;
  padding: 0;
  font-size: .9rem;
}

.list-skills-items > * {
  margin-top: 2vh;
}

.list-skills-items >*:nth-child(1) {
  font-size: 2rem;
}

.skills-hide {
  list-style: none;
  padding: 0;
  opacity: 0;
  transition: .5s;
}

.skills-show {
  position: relative;
  transition: .5s;
}
