#homepage-component {
  position: relative;
  width: 100%;
}

/* 
.welcome-text {
  content: "WELCOME";
  position: absolute;
  top: 80vh;
  color: rgba(100, 100, 100, .05);
  font-size: 10rem;
  z-index: 0;
  font-weight: bolder;
} */
.homepage-text {
  position: absolute;
  text-align: left;
  top: 0;
  line-height: .9em;
  left: 0;
  font-size: 25rem;
  color: rgba(167, 188, 214, .02);
  white-space: nowrap;
  z-index: -1;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* St */
}

#homepage-component .contact-me {
  margin-top: 10vh;
  ;
  box-shadow: none;
  border: 2px solid #A7BCD6;
  background: transparent;
  transition: .2s;
  border-radius: 6px;
  height: 40px;
  letter-spacing: .2em;
  text-decoration: none;
  color: #A7BCD6;
}


#homepage-component .contact-me button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage-component .contact-me:hover {
  background: #235391;
  border: 2px solid black;
  box-shadow: none;
  transition: .2s;
  color: ghostwhite;
  cursor: pointer;
}

#homepage-component .contact-me:hover a {
  color: ghostwhite;
}

#homepage-component .contact-me:active {
  background-color: #A7BCD6;
  color: black;
  font-size: 17px;
  font-weight: bolder;
  transform: translate(-15px, -7px);
  transition: .5s;
  ;
}

.landing-page-wrapper {
  height: 95vh;
  border-bottom: 2px solid white;
}

.landing-nav-top {
  height: 20vh;
}

.landing-intro {
  text-align: left;
  padding: 0 0 0 10vw;
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: .5em;
}

.landing-intro .bolded{
  font-size: 1.5em;
}

.landing-intro h1 span {
  font-size: 2rem;
}

.landing-intro .landing-flavor {
  color: ghostwhite;
  font-size: 1.5rem;
}

.landing-title {
  font-size: small;
  color: gray;
  font-weight: bold;
  letter-spacing: .4em;
}

/* .homepage-components-wrapper > * {
  margin-top: 35vh;
} */
/* Indication Text Flavor */

.vertical-orientation-left,
.vertical-orientation-right {
  writing-mode: vertical-lr;
  animation: scrollBounce infinite ease-in-out 10s;
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 8px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.vertical-orientation-left {
  margin: 5vh 0 5vh 5vw;
}

.vertical-orientation-right {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5vh 5vw 0vh 0;
}

.indication-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  /* bottom: 0; */
  width: 100%;
  right: 0;
  height: 20vh;
  /* overflow: hidden; */
  /* transform: translateX(20px); */
}

@keyframes scrollBounce {
  0% {
    transform: translateY(5vh)
  }

  50% {
    transform: translateY(-5vh)
  }

  100% {
    transform: translateY(5vh)
  }
}

/* Fullpage Animations */

.fullpage-animations-page-in {
  opacity: 1;
  transition: .5s;
  width: inherit;

}

.fullpage-animations-page-out {
  opacity: 0;
  transition: .5s;
  width: inherit;
}

/* Homepage Element Tag Flavors */

.flavor-tag-open,
.flavor-tag-close {
  position: relative;
  height: 8px;
  width: 20px;
  transform: translateX(-5vw);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.landing-intro .h1-flavor-open {
  transform: translate(-5vw, 20px);
}

.landing-intro .h1-flavor-close {
  transform: translate(-5vw, -30px);
}

.section-tag-flavor-close {
  position: absolute;
  transform: translate(4vw, 40px);
}

/* Homescreen Flavor Animations */

.flavor-tags-fade-out {
  opacity: 0;
  transition: .2s;
}

.flavor-tags-slide-down-fade-out {
  opacity: 0;
  transition: .2s;
}


@media (max-width: 1000px) {
  .landing-page-wrapper {
    height: 100vh;
  }
}